#main-title {
  text-align: center;
}

.crud-container {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.sub-title {
  margin-top: 1em;
  margin-bottom: 1.5em;
}

#crud-tab-group {
  width: 100%;
  height: 100%;
  text-align: center;
}

::ng-deep .crud-container .mat-tab-list .mat-tab-labels {
  font-weight: bold;
  color: white;
  background-color: rebeccapurple;
}

select {
  margin-bottom: 2em;
}

input[type="text"]{
  width: 15em;
  text-align: center;
  font-weight: bold;
  margin-bottom: 2em;
}

textarea {
  width: 30em;
  height: 8em;
  margin-bottom: 1em;
}

.form-button {
  width: 8em;
  height: 3em;
  border-style: none;
  border-radius: 2px;
  color: white;
  background-color: rebeccapurple;
  padding: 1em;
  margin-top: 2em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  transition: all 0.6s;
  margin-bottom: 1.5em;
}

  .form-button:hover {
    border-style: solid;
    border-width: 2px;
    border-color: rebeccapurple;
    background-color: white;
    color: rebeccapurple;
  }

#get-post-user {
  min-height: 1em;
  padding: 1.5em;
  text-align: center;
}

#get-post-body {
  min-height: 1em;
  padding: 1.5em;
  text-align: center;
}

#get-post-title {
  min-height: 1em;
  padding: 1.5em;
  text-align: center;
}

#delete-post-user {
  min-height: 1em;
  padding: 1.5em;
  text-align: center;
}

#delete-post-body {
  min-height: 1em;
  padding: 1.5em;
  text-align: center;
}

#delete-post-title {
  min-height: 1em;
  padding: 1.5em;
  text-align: center;
}

.modal-header {
  background-color: rebeccapurple;
  color: white;
  font-weight: bold;
}
