<!--The content below is only a placeholder and can be replaced.-->
  <div class="crud-container">

    <h2 id="main-title">Manage Posts</h2>

    <mat-tab-group mat-stretch-tabs id="crud-tab-group">

      <mat-tab label="Create" class="crud-tab">
        <h3 class="sub-title">Create Post</h3>

        <form [formGroup]="createPostData" (ngSubmit)="onSubmitCreatePost(createPostData.value)">

          <p>User</p>
          <select>
            <option value="default">Choose</option>
            <option *ngFor="let user of usersData; let i = index" [value]="user.id">
              {{ user.name }}
            </option>
          </select>

          <p>Title</p>
          <input type="text" name="title" formControlName="title" />

          <p>Body</p>
          <textarea name="body" formControlName="body"></textarea>
          <br />

          <input type="submit" class="form-button" value="Create">
          <input type="reset" class="form-button" value="Reset">

        </form>

      </mat-tab>

      <mat-tab label="Read">
        <h3 class="sub-title">Get Post</h3>

        <form>

          <p>Post ID</p>

          <p>User</p>
          <p>Title</p>
          <p>Body</p>

          <input type="submit" class="form-button" value="Search">
          <input type="reset" class="form-button" value="Reset">

        </form>
        
      </mat-tab>

      <mat-tab label="Update">
        <h3 class="sub-title">Update Post</h3>

        <form>

          <p>Post ID</p>

          <p>User</p>
          <p>Title</p>
          <p>Body</p>

          <input type="submit" class="form-button" value="Update">
          <input type="reset" class="form-button" value="Reset">

        </form>
      </mat-tab>

      <mat-tab label="Delete">
        <h3 class="sub-title">Delete Post</h3>

        <form>

          <p>Post ID</p>

          <p>User</p>
          <p>Title</p>
          <p>Body</p>

          
          <input type="submit" class="form-button" value="Delete">
          <input type="reset" class="form-button" value="Reset">

        </form>
      </mat-tab>

    </mat-tab-group>

  </div>

<router-outlet></router-outlet>
